@import "../../index.css";

.img-slider {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.img-slider-item {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.middle {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.middle-sidebar {
  border-left: 2px solid #0087E0;
  border-bottom: 2px solid #0087E0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  width: 25%;
}

.profile-pic {
  width: 100px;
  height: 100px;
}

.profile-info {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}

.info-key {
  direction: rtl;
  color: #1FA5FF;
  margin-left: 2px;
}

.info-value {
  direction: rtl;
  color: 	#505050;
}

.student-status {
  color: #1FA5FF;
  border: 1px solid #1FA5FF;
  border-radius: 4px;
  padding: 6px 8px;
}

.middle-content {
  width: 75%;
  padding: 40px 3%;
}

.table-wrapper {
  border: 1px solid #1FA5FF;
  border-radius: 8px;
  padding: 15px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  direction: rtl;
  margin-bottom: 50px;
}

.table-title {
  background-color: #1FA5FF;
  border-radius: 8px;
  align-content: center;
  text-align: center;
  padding: 5px 10px;
  width: 100px;
  color: white;
  margin-top: -30px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.table-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid #1FA5FF;
  border-radius: 4px;
  height: 80px;
  align-items: center;
  margin-bottom: 5px;
}

.table-cell {
  height: 100%;
  border-right: 1px solid #1FA5FF;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: dimgrey;
}

.cell-number {
  border: none;
  width: 10%;
  color: #1FA5FF;
  font-weight: bold;
}

.cell-code {
  width: 20%;
}

.cell-name {
  width: 30%;
}

.cell-units {
  width: 10%;
}

.cell-status {
  width: 20%;
}

.cell-grade {
  width: 10%;
}

.status-value {
  border-radius: 4px;
  font-weight: bold;
  margin: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  
}

.status-accept {
  color: #28A745;
  border: 1px solid #28A745;
  background-color: rgba(40,167,69,.2);
}

.status-reject {
  color: #FF595E;
  border: 1px solid #FF595E;
  background-color: rgba(255,89,94,.2);
}

.status-ambiguous {
  color: dimgrey;
  border: 1px solid dimgrey;
  background-color: rgba(105,105,105,.2);
}

.grade-good {
  color: #28A745;
}

.grade-bad {
  color: #FF595E;
}

.grade-ambiguous {
  color: dimgrey;
}

.table-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}

.table-average {
  border: 2px solid #1FA5FF;
  border-radius: 4px;
  color: #1FA5FF;
  text-align: center;
  padding: 4px;
  width: 100px;
}